src/masstree/*/.git/
*.d
*.a
*.o
*.so
*.ko
*.mod
*.mod.c
*.order
*.symvers
*.cmd
*.log
*.png
.vscode/
scripts/*/results_*/


src/dlb_bench/dpdk_bench/dpdk-rx/dpdk-rx
src/dlb_bench/dpdk_bench/dpdk-tx/dpdk-tx
src/dlb_bench/libdlb_bench/dir_traffic
src/dlb_bench/libdlb_bench/dlb_microarch
src/dlb_bench/libdlb_bench/ldb_traffic
src/dlb_bench/libdlb_bench/ldb_traffic_ldb_port
src/dlb_bench/libdlb_bench/ldb_traffic_ldb_port_rate_limit
src/dlb_bench/libdlb_bench/ldb_traffic_qos
src/dlb_bench/libdlb_bench/ldb_traffic_rate_limit
src/dlb_bench/libdlb_bench/test_atomic_queue
